*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-size: clamp(12px, 1.4vw, 18px);
}

@media (max-height: 800px) {
  html {
    font-size: clamp(10px, 1.4vh, 18px);
  }
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}